###################################################################################################
#                                             MONITORING                                          #
###################################################################################################


NAME_SERVER = "173"

# 1 == 1 хв
time = 10 


#######################################################################
 ###                           Logging                             ###
#######################################################################

[logging]
# 1 = 1 MB
max_log_size = 10  
backup_count = 1



#######################################################################
###                     Server Monitoring                           ###
#######################################################################

[check_disk]
enable = false

path = ['/']


# для конкретного часу запуску, якщo time = '' це значить він -
# буде запускатися разом з основним часом
time = '' 



#######################################################################
###                     Telegram Bot Config                         ###
#######################################################################

[telegram_bot]

enable = false
interest = 90

TOKEN=''

chat_id=["42535234"]
