###################################################################################################
#                                             MONITORING                                          #
###################################################################################################


NAME_SERVER = "173"

# 1 == 1 хв
time = 10 

#######################################################################
###                           Logging                               ###
#######################################################################

[logging]

# 1 = 1 MB
max_log_size = 5
backup_count = 1

#######################################################################
###                     Telegram Bot Config                         ###
#######################################################################

[telegram_bot]

enable = false
interest = 90

TOKEN=''

TOKEN_SERVER = ''
TOKEN_PROPOSALS = ''
TOKEN_ERROR = ''

chat_id=[42535234]

#######################################################################
###                     Server Monitoring                           ###
#######################################################################

[check_disk]
enable = false

path = ['/']

# для конкретного часу запуску, якщo time = '' це значить він -
# буде запускатися разом з основним часом
time = ''


#######################################################################
###                         Proposals                               ###
#######################################################################
[proposal]

enable = false
time = ''
time_sleep = 1
path = '/app/bin/'

#exemple
#[proposal.network.Stargaze]
#bin="starsd"
#node="https://stargaze-rpc.polkachu.com:443"
#explorer="https://www.mintscan.io/stargaze/proposals/"
